p:first-of-type{
	 color: #7E8184;        /* Light gray */
  font-style: italic;
}

.button:link,                 /* Change this */
.button:visited {             /* Change this */
  display: block;             /* Add this */
  text-decoration: none;      /* Add this */
  color: #FFF;
  background-color: #5995DA;    /* Blue */
  font-weight: bold;
  padding: 20px;
  text-align: center;
  border: 2px solid #5D6063;    /* Dark gray */
  border-radius: 5px;

  width: 200px;
  margin: 20px auto;
}

.page{
	width:600px;
	margin: 0 auto;
}

.call-to-action {
  font-style: italic;
  background-color: #EEB75A;    /* Yellow */
}

.synopsis em{
  font-style: normal;
}

a:link {
  color: blue;
  text-decoration: none;
}
a:visited {
  color: purple;
}
a:hover {
  color: aqua;
  text-decoration: underline;
}
a:active {
  color: red;
}

a:visited:hover {
  color: white;
}

.button:hover,
.button:visited:hover {
  color: #FFF;
  background-color: #76AEED;  /* Light blue */
}

p:last-of-type{
  margin:50px;
}

#button-2{
  color: #5D6063;  /* Dark gray */
}