.synopsis{
	 color: #7E8184;        /* Light gray */
  font-style: italic;
}

.button {
  color: #FFF;
  background-color: #5995DA;    /* Blue */
  font-weight: bold;
  padding: 20px;
  text-align: center;
  border: 2px solid #5D6063;    /* Dark gray */
  border-radius: 5px;

  width: 200px;
  margin: 20px auto;
}

.page{
	width:600px;
	margin: 0 auto;
}

.call-to-action {
  font-style: italic;
  background-color: #EEB75A;    /* Yellow */
}