body {
  color: #414141; /*dark grey*/
  background-color: #EEEEEE; /*light grey*/
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 28px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica", "Arial", sans-serif;
  //font-style: italic;
  font-weight: normal;
}

ul{
	list-style-type: none;
}

ol{
	list-style-type: lower-roman;
}

a{
	text-decoration: none;
}

